@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 203 100% 20%;
    --primary-foreground: 210 40% 98%;

    --secondary: 190 100% 50%;
    --secondary-foreground: 15 20 25;

    --accent: 4 65% 70%;
    --accent-foreground: 15 20 25;

    --success: 176 50% 60%;
    --success-foreground: 15 20 25;

    --muted: 210 40% 96%;
    --muted-foreground: 215 20% 45%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 190 100% 50%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 222 47% 5%;
    --foreground: 210 40% 98%;

    --card: 26 31% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 26 31% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 190 100% 50%;
    --primary-foreground: 15 20 25;

    --secondary: 203 100% 20%;
    --secondary-foreground: 210 40% 98%;

    --accent: 4 65% 70%;
    --accent-foreground: 15 20 25;

    --success: 176 50% 60%;
    --success-foreground: 15 20 25;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 190 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  html {
    scroll-behavior: smooth;
  }
}

